.Product {
  min-height: 589px;
  width: 1040px;
  &Title {
    font-size: 1.5rem;
    margin: auto;
    width: auto;
    text-align: left;
    padding-top: 1rem;
    color: $FontColor;
    font-weight: bold;
  }
  &Container {
    margin: 1rem auto;
    background-color: $WhiteColor;
    box-shadow: 0 1px 3px gray;
    width: 90%;
    padding-bottom: 4rem;
    .ProductButton {
      display: flex;
      margin: auto 2em 1em;
      padding-top: 2em;
      &__name {
        height: 40px;
        border: 1px solid $PrimaryColor;
        display: block;
        width: 300px;
        color: $FontColor;
        margin-right: 16px;
        padding-left: 8px;
        line-height: 20px;
        @include mq() {
          width: 160px;
        }
      }
      &__button {
        background: $PrimaryColor;
        font-size: 16px;
        width: 100px;
        height: 40px;
        line-height: 20px;
        text-align: center;
        color: #fff;
        border: 1px solid $PrimaryColor;
        @include mq() {
          width: 67px;
          font-size: 16px;
          padding-left: 2px;
          line-height: 20px;
        }
        &:hover {
          background-color: #ffffff;
          color: $PrimaryColor;
          transition: all 0.5s ease;
        }
      }
    }
    .Item {
      display: flex;
      background-color: #ffffff;
      margin: auto 2rem;
      .ItemHead {
        font-size: 1rem;
        color: $WhiteColor;
        margin: 1rem 0.4rem 0.4rem;
        text-align: center;
        height: 36px;
        background-color: $Main4;
        line-height: 35px;
        box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.15);
        &.id {
          width: 60px;
        }
        &.users {
          min-width: 300px;
        }
        &.point {
          width: 100px;
        }
        &.score {
          width: 100px;
        }
        &.times {
          width: 100px;
        }
        &.ratio {
          width: 100px;
        }
        &.count {
          width: 100px;
        }
      }
    }
    .List {
      .ListTop {
        display: flex;
        background-color: #ffffff;
        margin: auto 2rem 1px;
        .ListBody {
          font-size: 1rem;
          color: $WhiteColor;
          margin: auto 0.4rem;
          text-align: center;
          height: 36px;
          background-color: $Main4;
          line-height: 35px;
          box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.15);
          &.id {
            width: 60px;
          }
          &.users {
            min-width: 300px;
          }
          &.point {
            width: 100px;
          }
          &.score {
            width: 100px;
          }
          &.times {
            width: 100px;
          }
          &.ratio {
            width: 100px;
          }
          &.count {
            width: 100px;
          }
        }
      }
    }
  }
}
